@font-face {
    font-family: Inter-bold;
    src: url(Inter-Bold.ttf);
}

@font-face {
    font-family: Inter-reg;
    src: url(Inter-Regular.ttf);
}

body {
    font-family: Inter-reg;
    color: #5A537B;
    background-color: #F4F4F4;
    position: relative;
}

.dark {
    background-color: #1F2937;
    color: #CCC1FF;
}

.mode {
    position: fixed;
    top: 8px;
    right: 16px;
}

#change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 40px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

#container {
    display: block;
    width: 550px;
    background-color: white;
    border: 5px solid white;
    border-radius: 8px;
    margin: 40px auto 0 auto;
    text-align: center;
}

h1 {
    margin: 0;
}

#number-input {
    display: block;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    width: 200px;
    height: 83px;
    margin: 20px auto 20px auto;
    text-align: center;
    font-size: 70px;
    font-family: inherit;
    color: inherit;
}

#convert-btn {
    height: 42px;
    width: 117px;
    border-radius: 5px;
    background: white;
    border: none;
    font-family: inherit;
    color: #3D3D3D;
}

#user-container {
    background-color: #6943FF;
    border: 5px solid #6943FF;
    border-radius: 5px 5px 0 0;
    color: white;
    font-family: Inter-bold;
    margin: 0;
    padding: 20px;
}

.results-style {
    background-color: #F4F4F4;
    border: 5px solid #F4F4F4;
    border-radius: 0 0 5px 5px;
}

.dark-results-style {
    background-color: #1F2937;
    border: 5px solid #1F2937;
}

.measurement-style {
    width: 500px;
    height: 108.57px;
    background-color: white;
    border: 5px solid white;
    border-radius: 5px;
    margin: 10px auto 10px auto;
}

.dark-measurement-style {
    background-color: #273549;
    border: 5px solid #273549;
    width: 500px;
    height: 108.57px;
    border-radius: 5px;
    margin: 10px auto 10px auto;
}

.values {
    color: #353535;
}

.dark-values {
    color: white;
}